<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="columna columna-50">
        <img src="images/logo-horizontal.png" alt="Logo horizontal" class="logo-horizontal-footer">
      </div>

      <div class="columna columna-50">
        <img src="images/logo-ues.jpg" alt="Logo de la Universidad de El Salvador" class="logo-ues-footer">
      </div>
    </div>
  </div>

  <div class="barra-footer">
    <div class="redes-sociales-footer">
      <a href="https://www.facebook.com/UESoficial.SV/" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://x.com/UESoficial" target="_blank">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="https://www.instagram.com/uesoficial/?hl=es" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/school/universidad-de-el-salvador/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div class="derechos-autor">
      &copy; Derechos Reservados 2024 - Desarrollo de Aplicaciones Web
    </div>
  </div>
</footer>