<!-- head.html -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Estudio de Arquitectura y Diseño Urbano especializado en la creación de espacios funcionales y estéticamente atractivos, incluyendo áreas verdes y jardines.">
<meta name="keywords" content="arquitectura, diseño urbano, espacios públicos, edificios, sostenibilidad, árboles, jardines, paisajismo, espacios naturales, diseño de jardines, parques urbanos">

<title>Estudio de Arquitectura y Diseño Urbano</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript"> emailjs.init('3uDLlxkD76J5nJL7J')</script>

<!-- CSS de Bootstrap (coloques esto en el head de tu HTML) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- JavaScript de Bootstrap (coloques esto antes de tu código JavaScript) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<link rel="shortcut icon" href="images/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/cust/loader.min.css"> <!-- LOADER STYLE SHEET -->       
<link rel="stylesheet" type="text/css" href="css/cust/bootstrap.rtl.min.css"><!-- BOOTSTRAP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="css/cust/fontawesome/css/font-awesome.min.css" /><!-- FONTAWESOME STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="css/cust/owl.carousel.min.css"><!-- OWL CAROUSEL STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="css/cust/magnific-popup.min.css"><!-- MAGNIFIC POPUP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="css/cust/style.css"><!-- MAIN STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="css/cust/rtl.css"><!-- RTL STYLE SHEET -->
<link rel="stylesheet" href="css/about.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/service.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet" href="css/team.css">
<link rel="stylesheet" href="css/contactus.css">
