<!-- header.html -->
<div class="container">
    <a href="index.html" class="enlace">
      <img src="images/logo-dark.png" class="logo">
    </a>
    <label for="menu" class="checkbtn">
      <i class="bi bi-list" style="color: black; margin: 8px;"></i>
    </label>
    <input type="checkbox" id="menu"/>
    <nav>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="about.html">Quiénes somos</a></li>
      <li><a href="service.html">Nuestros Servicios</a></li>
      <li><a href="customers.html">Nuestros clientes</a></li>
      <li><a href="team.html">Nuestro equipo</a></li>
      <li><a href="contactUs.html">Contáctanos</a></li>
    </nav>
</div>